@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>E-cars</h1>
        <p class="lead">Choose your private car reservation service</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Details &raquo;</a></p>
        @if (User.Identity.IsAuthenticated)
        {
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Booking &raquo;</a></p>
        }
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Recommendation</h2>
        <p>
            cheapest price, best service
            get today's high recommended car rental price
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Popular driver</h2>
        <p>best service provided driver
            gold medel driver
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Support</h2>
        <p>encount problem call customer service, Please</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>